%h1
  Welcome to BoOkStoRE, #{@user.name}
%p
  You have successfully signed up to BoOkStoRE,
  your username is: #{@user.email}.
  %br/
%p
  To login to the site, just follow this link: #{link_to "Click here", new_user_session_url}.
%p Thanks for joining and have a great day!
= image_tag attachments['welcome.jpg'].url
