/
  *** MAIN ***
  _________________________________________________________
.all
  #content
    .container
      #about_us.box
        %h1 About Us
        %hr/
        %p
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Consectetur, illum iure! Deleniti repellendus id perferendis est
          sit maxime nulla cum, eligendi ratione obcaecati aliquam
          molestiae! Alias ea accusamus molestias iste. Lorem ipsum dolor
          sit amet, consectetur adipisicing elit. Facere quidem vitae
          similique illum officiis a! Eos adipisci voluptates reprehenderit
          cupiditate sint hic, ullam dolorum voluptatum molestiae temporibus
          sunt delectus laborum! Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Soluta, nam tenetur vel quas, sit a temporibus
          asperiores labore unde fugiat perspiciatis quidem doloribus
          aliquid. Laudantium reprehenderit dolor laboriosam repellendus
          veluidem impedit totam iusto sint fuga, nemo cupiditate vero
          deserunt nam, inventore culpa.
    / *** id="content" end ***
