.col-lg-3
  .card.sidebar-menu
    .card-header
      %h3.h4.card-title User section
    .card-body
      %ul.nav.nav-pills.flex-column.category-menu
        %li
          = link_to "My Order", orders_path, class: "nav-link"
        %li
          = link_to "My Wishlist", wishlists_path, class: "nav-link"
        %li
          = link_to "My Account", edit_user_registration_path, class: "nav-link"
        %li
          = link_to "Logout", destroy_user_session_path, method: :delete , class: "nav-link"
